@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+VIC+Guides&family=Playwrite+VN+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

.custom-card-shadow {
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

@theme {
  --font-family: "Alegreya Sans", "sans-serif";
  --color-primary: #2563eb;
  --color-title: #1f2937;
  --color-accent: #3498db;
  --color-label: #374151;
  --color-header: #6b7280;
  --color-background: #ecf0f1;
  --color-bgAlert: #f9fafb;
  --color-text: #34495e;
  --color-icon: #9ca3af;
  --color-error: #f74c3c;
  --color-success: #2ecc71;
  --color-warning: #f1c40f;
  --color-neutral: #94a3b8;
  --color-bgleft: #3b82f6;
  --color-bgright: #2dd4bf;
  --color-bgcheck: #00589c;
  --color-bgtitle: #f9fafb;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ecf0f1;
}
